body {
    font-family: "open sans";
    background: url(https://github.com/Veronidas/img/blob/master/descarga.png?raw=true) fixed;
    background-size: cover;
    margin: 0px;
}

img { 
    width: 120px;
    height: 100px;
}
button {
    background: rgba(0,0,0,0.0);
    border: 0px none rgba(0,0,0,0.0);
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

button:hover {
    animation: bounce 1s;
}

#az:hover, #za:hover {
    background: rgba(255, 30, 68, 0.534);
    color:white;
    animation: none;
}

button .logo {
    width: 50%;
    float: left;
    padding-left: 30px;
}

#az, #za {
    float: right;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    color: black;
    border: 2px solid #FF1E45;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
    color:  #FF1E45;
    padding: 0px;
    margin: 20px;
}


nav {
    background: rgba(253, 253, 253, 0.849);
    /* border-color: rgb(221, 210, 58); */
    /* border-bottom-style: solid; */
    top: 0px;
    width: 100%;
    position: fixed;
    height: 12%;
    padding: 0 15px 15px 15px;
    border-bottom:1px solid #ffffff
}

#root {
    padding: 20px;
    margin: 0px 10% 0px 10%;
    /* border-radius: 20px; */
    /* border-style: double; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #f1f1f17c; */
    justify-content: space-evenly;
}


#root > div {
    background-color: #ffffff9a;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    width: 20%;
    height: 10%;
    font-size: medium;
}
.cardContainer {
    padding: 25px;
    border: 3px solid rgb(68, 126, 51);
    border-radius:10px;
    border-style: solid;
    margin: 0px;
} 

#calc {
    text-align: center;
    align-items: center;
    margin-top: 100px;
    padding: 0px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(66, 70, 65);
    background: rgba(253, 253, 253, 0.548);
    border-radius: 100px; 
    height: 40%;
}

.pokeImage {
    padding: 10px;
    border: 1px solid #FF1E45;
    border-radius: 100%;
    background: white;
}

footer {
    width: 100%;
    text-align: center;
    background: rgba(253, 253, 253, 0.849);
    bottom: 0px;
    border-top:1px solid #ffffff;
    position: fixed;
}
